        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }
        h2 {
            color: #0073e6;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        label {
            font-weight: bold;
        }
        input, textarea, button {
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 50%;        /* Ocupa la mitad del espacio disponible */
         box-sizing: border-box; /* Para que el padding y borde no aumenten el ancho */
        }
        button {
            background: #0073e6;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background: #005bb5;
        }
        a {
        color: black;
        text-decoration: none;
        font-weight: bold;
        width: 150px;
        }

        .volver-btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 15px;
        background-color: #003d1f;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        }

        .volver-btn:hover {
        background-color: #e65100;
        }